/* display*/
.display {
    margin-top: 50px;
    width: 100%;
}

.display-model {
    margin-top: 40px;
}

.display-model img {
    width: 750px;
    margin: 0 auto;
}

.title {
    width: 100%;
    display: flex;
    margin: 20px 0;
    padding-left: 45px;
    align-items: center;
}

.title p {
    font-size: 20px;
    color: #666666;
}

.title .line {
    margin-top: 14px;
    margin-left: 15px;
    width: 90%;
    border-bottom: 1px solid #666;
}